In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
!ls

BasicChennaiWater.ipynb
chennai_reservoir_levels.csv
chennai_reservoir_rainfall.csv
info.txt

In [25]:
df1=pd.read_csv("chennai_reservoir_levels.csv")
df1.head()

         Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0  01-01-2004     3.9         0.0     268.0              0.0
1  02-01-2004     3.9         0.0     268.0              0.0
2  03-01-2004     3.9         0.0     267.0              0.0
3  04-01-2004     3.9         0.0     267.0              0.0
4  05-01-2004     3.8         0.0     267.0              0.0

In [26]:
df2=pd.read_csv("chennai_reservoir_rainfall.csv")
df2.head()

         Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0  01-01-2004     0.0         0.0       0.0              0.0
1  02-01-2004     0.0         0.0       0.0              0.0
2  03-01-2004     0.0         0.0       0.0              0.0
3  04-01-2004     0.0         0.0       0.0              0.0
4  05-01-2004     0.0         0.0       0.0              0.0

In [27]:
df1col=df1.columns.values
df1col

array(['Date', 'POONDI', 'CHOLAVARAM', 'REDHILLS', 'CHEMBARAMBAKKAM'],
      dtype=object)

In [28]:
df1col[1:]+"_resorvoir"

array(['POONDI_resorvoir', 'CHOLAVARAM_resorvoir', 'REDHILLS_resorvoir',
       'CHEMBARAMBAKKAM_resorvoir'], dtype=object)

In [29]:
df1col[1:]=df1col[1:]+"_resorvoir"
df1col

array(['Date', 'POONDI_resorvoir', 'CHOLAVARAM_resorvoir',
       'REDHILLS_resorvoir', 'CHEMBARAMBAKKAM_resorvoir'], dtype=object)

In [30]:
df1.columns=df1col
df1.head()

,Date,POONDI_resorvoir,CHOLAVARAM_resorvoir,REDHILLS_resorvoir,CHEMBARAMBAKKAM_resorvoir
0,01-01-2004,3.9,0.0,268.0,0.0
1,02-01-2004,3.9,0.0,268.0,0.0
2,03-01-2004,3.9,0.0,267.0,0.0
3,04-01-2004,3.9,0.0,267.0,0.0
4,05-01-2004,3.8,0.0,267.0,0.0

In [31]:
df2col=df2.columns.values
df2col[1:]=df2col[1:]+"_rainfall"
df2.columns=df2col
df2.head()

,Date,POONDI_rainfall,CHOLAVARAM_rainfall,REDHILLS_rainfall,CHEMBARAMBAKKAM_rainfall
0,01-01-2004,0.0,0.0,0.0,0.0
1,02-01-2004,0.0,0.0,0.0,0.0
2,03-01-2004,0.0,0.0,0.0,0.0
3,04-01-2004,0.0,0.0,0.0,0.0
4,05-01-2004,0.0,0.0,0.0,0.0

In [32]:
print(len(df1))
print(len(df2))

5836
5836

In [38]:
pd.concat([df1,df2.iloc[:,1:]],axis=1)

,Date,POONDI_resorvoir,CHOLAVARAM_resorvoir,REDHILLS_resorvoir,CHEMBARAMBAKKAM_resorvoir,POONDI_rainfall,CHOLAVARAM_rainfall,REDHILLS_rainfall,CHEMBARAMBAKKAM_rainfall
0,01-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0
1,02-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0
2,03-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0
3,04-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0
4,05-01-2004,3.8,0.0,267.0,0.0,0.0,0.0,0.0,0.0
5,06-01-2004,3.8,0.0,266.0,0.0,0.0,0.0,0.0,0.0
6,07-01-2004,3.8,0.0,266.0,0.0,0.0,0.0,0.0,0.0
7,08-01-2004,3.7,0.0,265.0,0.0,0.0,0.0,0.0,0.0
8,09-01-2004,3.7,0.0,264.0,0.0,0.0,0.0,0.0,0.0
9,10-01-2004,3.7,0.0,264.0,0.0,0.0,0.0,0.0,0.0
10,11-01-2004,3.6,0.0,263.0,0.0,0.0,0.0,0.0,0.0
11,12-01-2004,3.6,0.0,262.0,0.0,0.0,0.0,0.0,0.0
12,13-01-2004,3.6,0.0,261.0,0.0,0.0,0.0,0.0,0.0
13,14-01-2004,3.5,0.0,260.0,0.0,0.0,0.0,0.0,0.0
14,15-01-2004,3.5,0.0,259.0,0.0,0.0,0.0,0.0,0.0
15,16-01-2004,3.4,0.0,258.0,0.0,0.0,0.0,0.0,0.0
16,17-01-2004,3.4,0.0,256.0,0.0,0.0,0.0,0.0,0.0
17,18-01-2004,3.4,0.0,254.0,0.0,0.0,0.0,0.0,0.0
18,19-01-2004,3.4,0.0,252.0,0.0,0.0,0.0,0.0,0.0
19,20-01-2004,3.4,0.0,250.0,0.0,0.0,0.0,0.0,0.0
20,21-01-2004,3.3,0.0,247.0,0.0,0.0,0.0,0.0,0.0
21,22-01-2004,3.3,0.0,244.0,0.0,0.0,0.0,0.0,0.0
22,23-01-2004,3.3,0.0,242.0,0.0,0.0,0.0,0.0,0.0
23,24-01-2004,3.3,0.0,239.0,0.0,0.0,0.0,0.0,0.0
24,25-01-2004,3.2,0.0,237.0,0.0,0.0,0.0,0.0,0.0
25,26-01-2004,3.2,0.0,234.0,0.0,0.0,0.0,0.0,0.0
26,27-01-2004,3.9,0.0,232.0,0.0,31.0,3.0,2.0,3.0
27,28-01-2004,4.9,0.0,230.0,0.0,33.0,4.0,17.0,18.0
28,29-01-2004,4.9,0.0,227.0,0.0,0.0,0.0,0.0,0.0
29,30-01-2004,4.9,0.0,225.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5806,24-11-2019,1056.0,105.0,1455.0,597.0,0.0,0.0,0.0,2.0
5807,25-11-2019,1011.0,103.0,1479.0,615.0,0.0,0.0,0.0,0.0
5808,26-11-2019,989.0,101.0,1504.0,633.0,0.0,0.0,0.0,0.0
5809,27-11-2019,967.0,99.0,1528.0,651.0,0.0,0.0,1.0,1.0
5810,28-11-2019,945.0,97.0,1553.0,651.0,5.0,4.0,7.0,38.0
5811,29-11-2019,938.0,95.0,1578.0,651.0,22.0,18.0,17.0,16.0
5812,30-11-2019,938.0,94.0,1604.0,649.0,14.0,9.0,14.0,8.0
5813,01-12-2019,989.0,96.0,1639.0,749.0,78.0,76.0,47.0,90.0
5814,02-12-2019,1229.0,131.0,1818.0,913.0,73.0,98.0,82.0,93.0
5815,03-12-2019,1426.0,201.0,1868.0,1052.0,0.0,0.0,0.0,43.0
5816,04-12-2019,1518.0,228.0,1887.0,1103.0,0.0,0.0,0.0,0.0
5817,05-12-2019,1550.0,238.0,1907.0,1128.0,0.0,0.0,0.0,0.0
5818,06-12-2019,1572.0,243.0,1936.0,1142.0,0.0,0.0,0.0,0.0
5819,07-12-2019,1565.0,243.0,1965.0,1154.0,2.0,0.0,6.0,0.0
5820,08-12-2019,1572.0,236.0,1995.0,1166.0,3.0,6.0,5.0,2.0
5821,09-12-2019,1582.0,228.0,2024.0,1178.0,0.0,0.0,1.0,0.0
5822,10-12-2019,1593.0,219.0,2054.0,1190.0,0.0,0.0,0.0,0.0
5823,11-12-2019,1593.0,210.0,2087.0,1205.0,0.0,0.0,0.0,0.0
5824,12-12-2019,1593.0,201.0,2120.0,1220.0,0.0,0.0,0.0,0.0
5825,13-12-2019,1586.0,192.0,2153.0,1235.0,0.0,0.0,0.0,0.0
5826,14-12-2019,1582.0,183.0,2186.0,1256.0,0.0,0.0,5.0,5.0
5827,15-12-2019,1572.0,174.0,2219.0,1277.0,9.0,4.0,5.0,7.0
5828,16-12-2019,1560.0,165.0,2252.0,1298.0,0.0,0.0,0.0,0.0
5829,17-12-2019,1556.0,156.0,2285.0,1320.0,13.0,6.0,14.0,8.0
5830,18-12-2019,1530.0,147.0,2302.0,1359.0,0.0,2.0,0.0,0.0
5831,19-12-2019,1535.0,139.0,2318.0,1397.0,0.0,0.0,0.0,0.0
5832,20-12-2019,1529.0,131.0,2335.0,1435.0,0.0,0.0,0.0,0.0
5833,21-12-2019,1522.0,123.0,2351.0,1473.0,0.0,0.0,0.0,0.0
5834,22-12-2019,1514.0,115.0,2369.0,1510.0,0.0,0.0,0.0,0.0
5835,23-12-2019,1497.0,108.0,2382.0,1548.0,0.0,0.0,0.0,0.0

In [36]:
df2.iloc[:,1:]

,POONDI_rainfall,CHOLAVARAM_rainfall,REDHILLS_rainfall,CHEMBARAMBAKKAM_rainfall
0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0
26,31.0,3.0,2.0,3.0
27,33.0,4.0,17.0,18.0
28,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0
...,...,...,...,...
5806,0.0,0.0,0.0,2.0
5807,0.0,0.0,0.0,0.0
5808,0.0,0.0,0.0,0.0
5809,0.0,0.0,1.0,1.0
5810,5.0,4.0,7.0,38.0
5811,22.0,18.0,17.0,16.0
5812,14.0,9.0,14.0,8.0
5813,78.0,76.0,47.0,90.0
5814,73.0,98.0,82.0,93.0
5815,0.0,0.0,0.0,43.0
5816,0.0,0.0,0.0,0.0
5817,0.0,0.0,0.0,0.0
5818,0.0,0.0,0.0,0.0
5819,2.0,0.0,6.0,0.0
5820,3.0,6.0,5.0,2.0
5821,0.0,0.0,1.0,0.0
5822,0.0,0.0,0.0,0.0
5823,0.0,0.0,0.0,0.0
5824,0.0,0.0,0.0,0.0
5825,0.0,0.0,0.0,0.0
5826,0.0,0.0,5.0,5.0
5827,9.0,4.0,5.0,7.0
5828,0.0,0.0,0.0,0.0
5829,13.0,6.0,14.0,8.0
5830,0.0,2.0,0.0,0.0
5831,0.0,0.0,0.0,0.0
5832,0.0,0.0,0.0,0.0
5833,0.0,0.0,0.0,0.0
5834,0.0,0.0,0.0,0.0
5835,0.0,0.0,0.0,0.0

In [41]:
df1col[1:]+"_resorvoir"

array(['POONDI_resorvoir_resorvoir', 'CHOLAVARAM_resorvoir_resorvoir',
       'REDHILLS_resorvoir_resorvoir',
       'CHEMBARAMBAKKAM_resorvoir_resorvoir'], dtype=object)